
/* Navbar styling */
.topnav{
    background-color: blueviolet;
    overflow: hidden;
}

.topnav a{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: aqua;
    color: black;
}

.topnav .logo{
    float: left;
    font-weight: bold;
    font-size: large;
}



/* Styling for the footer*/
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}